/* .navbar>.container-fluid{
    flex-wrap:  !important;
} */
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  z-index: 999;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0 !important;
  align-items: center;
}

.box {
  visibility: hidden;
  opacity: 0;
  display: none !important;
}


.box li:hover {
  background-color: #F8F9FA;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  font-size: 0;
  text-decoration: none;
  white-space: nowrap;
}

#slide2 .swiper {
  width: 100%;
  height: 100%;
}

#slide2 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20% !important;
}

#slide2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#slide2 .swiper-pagination {
  top: 76%;
}

#slide2 .swiper-button-next,
.swiper-button-prev {
  background-color: #00000065;
  border-radius: 70%;
  padding: 10px;
  font-size: 20px;
}

.swiper-pagination-bullet-active {
  background-color: #009698;
  color: black;
}

#slider .swiper-button-prev {
  background-color: transparent;
}
#slider .swiper-button-next , .swiper-button-prev{
  transition: 0.2s;
  color: rgb(214, 214, 214);
}
#slider .swiper-button-next:hover , .swiper-button-prev:hover{
  color: rgb(255, 255, 255);
}

.bgImg {
  background-image: url(Images/slider-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-text {
  width: 30%;
}

.slide-text p {
    font-size: 25px;
    font-weight: 800;
    color: #fff;
    line-height: 30px;
    margin-top: 26px;
    text-align: left;
    font-family: 'raleway-regular', sans-serif; 
  }

  .authImg {
    width: 30%;
  }


  .slide-bg{
    top: 0% ;
    left: 60%;
    animation: imgAni 5s 0s infinite linear;

  }

  .adj2 {
    top: 8%;
    left: 48%;
    width: 25% !important;
    animation: animation 5s 0s infinite ease-in-out;
}

  @keyframes animation {
    0%{
      top: 8%;
    }
    50%{
      top: 12%;
    }
    100%{
      top: 8%;
    }
  }

  @keyframes imgAni {
    0%{
      top: 0% ;
    }
    /* 50%{
      top: -15%;
    } */
    100%{
      top: -50%;
    }
  }

  .btnHov {
    transition: 0.6s !important;
    background-color: rgba(0, 0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
    outline-color: rgb(255, 255, 255) !important;
  }

  .btnHov:hover {
    background-color: white !important;
    color: black !important;
    outline-color: black;
  }

  #service .card-body{
    padding: 0 !important;
  }
  #service h1{
    position: relative;
  }
  #service h1::after {
    content: '';
    width: 94px !important;
    height: 3px !important;
    background-color: #009698;
    z-index: 999;
    display: block;
    position: absolute;
    top: 100%;
    left: 45%;
}
#service .card{
  border: none;
}


#about{
  background-image: url(Images/hp-about-bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
#about .card{
  background-color: transparent !important;
  color: white !important;
}

#about h1{
  position: relative;
}
#about h1::after {
  content: '';
  width: 94px !important;
  height: 3px !important;
  background-color: #009698;
  z-index: 999;
  display: block;
  position: absolute;
  top: 100%;
  left: 0%;
}
#about .card p{
  text-align: justify;
}
  /* #service .row>*{
    padding: 0 !important;
    margin: 0 !important;
  }  */
  /* .poRel{
    position: relative;
  } */